*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   margin: 30px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
}
.item{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aqua;
   color: black;
   height: 80px;
}
@media (max-width:1000px){
   .container{
      grid-template-columns: repeat(3,1fr);
   }
}
@media (max-width:768px){
   .container{
      grid-template-columns: repeat(2,1fr);
   }
}
@media (max-width:480px){
   .container{
      grid-template-columns:1fr;
   }
}