*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header{
   background-color: rgb(45, 45, 45);
   padding: 25px;
   text-align: center;
   color: white;
}

.container{
   display: flex;
   flex-direction: row;
   padding: 15px;
   column-gap: 15px; 
}
main{
   background-color: rgb(230, 230, 230);
   width: 65%;
   padding: 15px;
}
.side-bar{
   width: 35%;
   background-color: rgb(200, 200, 200);
   padding: 15px;
}
footer{
   background-color: rgb(45, 45, 45);
   padding: 25px;
   text-align: center;
   color: white;
}
@media (min-width:600px) and (max-width:900px){
      
   header{
      padding: 10px;
   }
   main{
      width: 50%;
      padding: 15px;
   }
   .side-bar{
      width: 50%;
      padding: 15px;
   }
   footer{
      padding: 10px;
   }
}
@media (max-width:600px){
   header{
      padding: 15px;
   }
   .container{
      flex-direction: column;
      row-gap: 15px;
   }
   main{
      width: 100%;
   }
   .side-bar{
      width: 100%;
   }
   footer{
      padding: 15px;
   }
}